.default-container
  %header.sp-header.visible-sp
    .sp-header-inner
      %h1.logo
        %a{:href => "https://www.mercari.com/jp/"}
          %img{:alt => "mercari", :src => "//pcweb-assets.mercdn.net/assets/img/common/common/logo.svg?3780252616"}/
      .sp-header-user-nav.clearfix
        -# ログイン前
        %a.sp-header-btn.btn-red{:href => "https://www.mercari.com/jp/signup/"} 新規会員
        %a.sp-header-btn.sp-header-signup{:href => "https://www.mercari.com/jp/login/?login_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2Fcategory%2F1%2F"} ログイン
        -# ログイン後
        -# %a.sp-header-user-icon{:href => "https://www.mercari.com/jp/mypage/notification/"}
        -#   %figure
        -#     = icon('far', 'bell', alt: 'bell-icon', style: 'color:#cccccc', class: 'toppage-header-top__footer-login-content--bell-icon')
        -# %a.sp-header-user-icon{:href => "https://www.mercari.com/jp/mypage/todo/"}
        -#   %figure
        -#     = icon('far', 'clock', alt: 'clock-icon', style: 'color:#cccccc', class: 'toppage-header-top__footer-login-content--clock-icon')
        -# %a.sp-header-user-icon.sp-header-user-profile{:href => "https://www.mercari.com/jp/mypage/"}
        -#   %figure
        -#     %div
        -#       %img{:alt => "", :src => "//static.mercdn.net/images/member_photo_noimage_thumb.png", :width => "32"}/
    .search-bar
      %form.sp-header-form{:action => "https://www.mercari.com/jp/search/"}
        %input.sp-header-search.input-default{:name => "keyword", :placeholder => "何をお探しですか？", :type => "search", :value => ""}/
        = icon('fas', 'search', alt: 'search-icon', class: 'icon-search')
  %header.pc-header.visible-pc
    .pc-header-inner
      .pc-header-top
        %h1
          %a{:href => "https://www.mercari.com/jp/"}
            %img{:alt => "mercari", :height => "36", :src => "//pcweb-assets.mercdn.net/assets/img/common/common/logo.svg?3780252616", :width => "134"}/
        %form.pc-header-form{:action => "https://www.mercari.com/jp/search/"}
          %input.input-default{:name => "keyword", :placeholder => "何かお探しですか？", :type => "search", :value => ""}/
          = icon('fas', 'search', alt: 'search-icon', class: 'icon-search')
      .pc-header-nav-box.clearfix
        %nav.l-left
          %ul.pc-header-nav
            %li
              %h2
                %a.pc-header-nav-root.list-parent{:href => "https://www.mercari.com/jp/category/"}
                  = icon('fas', 'list-ul lg', alt: 'list-icon', style: 'color:#ea352d')
                  %span カテゴリーから探す
              %ul.pc-header-nav-parent-wrap{"data-mega" => "1"}
                - @categories.roots.each do |root_category|
                  %li.pc-header-nav-parent
                    %h3
                      %a{:href => "https://www.mercari.com/jp/category/1/"}= root_category.name
                    %ul.pc-header-nav-child-wrap{"data-mega" => "2"}
                      - root_category.children.each do |children_category|
                        %li.pc-header-nav-child
                          %a{:href => "https://www.mercari.com/jp/category/#{children_category.id}/"}= children_category.name
                          %ul.pc-header-nav-grand-child-wrap{"data-mega" => "3"}
                            - children_category.children.each do |children_children_category|
                              %li.pc-header-nav-grand-child
                                %a{:href => "https://www.mercari.com/jp/category/119/"}= children_children_category.name

        .l-right
          %ul.pc-header-login-nav
            %li
              %a.sp-header-btn.btn-red{:href => "https://www.mercari.com/jp/signup/"} 新規会員登録
            %li
              %a.sp-header-btn.header-login{:href => "https://www.mercari.com/jp/login/?login_callback=https%3A%2F%2Fwww.mercari.com%2Fjp%2Fcategory%2F1%2F"} ログイン
